@font-face {
  font-family: 'icomoon';
  src:  url('../fonts/icomoon.eot?cq1tif');
  src:  url('../fonts/icomoon.eot?cq1tif#iefix') format('embedded-opentype'),
    url('../fonts/icomoon.ttf?cq1tif') format('truetype'),
    url('../fonts/icomoon.woff?cq1tif') format('woff'),
    url('../fonts/icomoon.svg?cq1tif#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 50px;
  font-size: 30px;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
#features [class^="icon-"]{
  font-size: 36px;
}

.icon-Assignments .path1:before {
  content: "\e900";
  color: rgb(13, 146, 246);
}
#features .path1:before{
  color: transparent;
}
.icon-Assignments .path2:before {
  content: "\e906";
  margin-left: -1em;
  color: rgb(122, 198, 255);
}
.icon-Assignments .path3:before {
  content: "\e907";
  margin-left: -1em;
  color: rgb(14, 120, 134);
}
.icon-Assignments .path4:before {
  content: "\e908";
  margin-left: -1em;
  color: rgb(255, 91, 97);
}
.icon-Assignments .path5:before {
  content: "\e909";
  margin-left: -1em;
  color: rgb(14, 120, 134);
}
.icon-Assignments .path6:before {
  content: "\e90a";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.icon-Assignments .path7:before {
  content: "\e90b";
  margin-left: -1em;
  color: rgb(14, 120, 134);
}
.icon-Assignments .path8:before {
  content: "\e90c";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.icon-Assignments .path9:before {
  content: "\e90d";
  margin-left: -1em;
  color: rgb(251, 180, 41);
}
.icon-Assignments .path10:before {
  content: "\e90e";
  margin-left: -1em;
  color: rgb(255, 91, 97);
}
.icon-Assignments .path11:before {
  content: "\e90f";
  margin-left: -1em;
  color: rgb(14, 120, 134);
}
.icon-Assignments .path12:before {
  content: "\e910";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.icon-Assignments .path13:before {
  content: "\e911";
  margin-left: -1em;
  color: rgb(32, 208, 194);
}
.icon-Assignments .path14:before {
  content: "\e912";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.icon-Assignments .path15:before {
  content: "\e913";
  margin-left: -1em;
  color: rgb(236, 240, 241);
}
.icon-Assignments .path16:before {
  content: "\e914";
  margin-left: -1em;
  color: rgb(236, 240, 241);
}
.icon-Assignments .path17:before {
  content: "\e915";
  margin-left: -1em;
  color: rgb(255, 91, 97);
}
.icon-Assignments .path18:before {
  content: "\e916";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.icon-Assignments .path19:before {
  content: "\e917";
  margin-left: -1em;
  color: rgb(236, 240, 241);
}
.icon-Assignments .path20:before {
  content: "\e918";
  margin-left: -1em;
  color: rgb(236, 240, 241);
}
.icon-Assignments .path21:before {
  content: "\e919";
  margin-left: -1em;
  color: rgb(251, 180, 41);
}
.icon-Assignments .path22:before {
  content: "\e91a";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.icon-Assignments .path23:before {
  content: "\e91b";
  margin-left: -1em;
  color: rgb(236, 240, 241);
}
.icon-Assignments .path24:before {
  content: "\e91c";
  margin-left: -1em;
  color: rgb(236, 240, 241);
}
.icon-campusnews .path1:before {
  content: "\e91d";
  color: rgb(13, 146, 246);
}
.icon-campusnews .path2:before {
  content: "\e91e";
  margin-left: -1em;
  color: rgb(206, 201, 174);
}
.icon-campusnews .path3:before {
  content: "\e91f";
  margin-left: -1em;
  color: rgb(206, 201, 174);
}
.icon-campusnews .path4:before {
  content: "\e920";
  margin-left: -1em;
  color: rgb(237, 234, 218);
}
.icon-campusnews .path5:before {
  content: "\e921";
  margin-left: -1em;
  color: rgb(244, 243, 237);
}
.icon-campusnews .path6:before {
  content: "\e922";
  margin-left: -1em;
  color: rgb(61, 202, 89);
}
.icon-campusnews .path7:before {
  content: "\e923";
  margin-left: -1em;
  color: rgb(206, 201, 174);
}
.icon-campusnews .path8:before {
  content: "\e924";
  margin-left: -1em;
  color: rgb(139, 87, 42);
}
.icon-campusnews .path9:before {
  content: "\e925";
  margin-left: -1em;
  color: rgb(142, 136, 114);
}
.icon-chat .path1:before {
  content: "\e926";
  color: rgb(13, 146, 246);
}
.icon-chat .path2:before {
  content: "\e927";
  margin-left: -1em;
  color: rgb(102, 102, 102);
}
.icon-chat .path3:before {
  content: "\e928";
  margin-left: -1em;
  color: rgb(254, 209, 152);
}
.icon-chat .path4:before {
  content: "\e929";
  margin-left: -1em;
  color: rgb(236, 240, 241);
}
.icon-chat .path5:before {
  content: "\e92a";
  margin-left: -1em;
  color: rgb(255, 202, 79);
}
.icon-chat .path6:before {
  content: "\e92b";
  margin-left: -1em;
  color: rgb(255, 91, 97);
}
.icon-chat .path7:before {
  content: "\e92c";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.icon-chat .path8:before {
  content: "\e92d";
  margin-left: -1em;
  color: rgb(32, 208, 194);
}
.icon-chat .path9:before {
  content: "\e92e";
  margin-left: -1em;
  color: rgb(240, 185, 125);
}
.icon-chat .path10:before {
  content: "\e92f";
  margin-left: -1em;
  color: rgb(236, 240, 241);
}
.icon-chat .path11:before {
  content: "\e930";
  margin-left: -1em;
  color: rgb(255, 202, 79);
}
.icon-chat .path12:before {
  content: "\e931";
  margin-left: -1em;
  color: rgb(246, 166, 35);
}
.icon-chat .path13:before {
  content: "\e932";
  margin-left: -1em;
  color: rgb(126, 124, 93);
}
.icon-chat .path14:before {
  content: "\e933";
  margin-left: -1em;
  color: rgb(254, 209, 152);
}
.icon-chat .path15:before {
  content: "\e934";
  margin-left: -1em;
  color: rgb(102, 102, 102);
}
.icon-chat .path16:before {
  content: "\e935";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.icon-chat .path17:before {
  content: "\e936";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.icon-chat .path18:before {
  content: "\e937";
  margin-left: -1em;
  color: rgb(200, 202, 204);
}
.icon-chat .path19:before {
  content: "\e938";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.icon-chat .path20:before {
  content: "\e939";
  margin-left: -1em;
  color: rgb(200, 202, 204);
}
.icon-classroom2 .path1:before {
  content: "\e93a";
  color: rgb(13, 146, 246);
}
.icon-classroom2 .path2:before {
  content: "\e93b";
  margin-left: -1em;
  color: rgb(57, 83, 115);
}
.icon-classroom2 .path3:before {
  content: "\e93c";
  margin-left: -1em;
  color: rgb(206, 213, 224);
}
.icon-classroom2 .path4:before {
  content: "\e93d";
  margin-left: -1em;
  color: rgb(230, 233, 238);
}
.icon-classroom2 .path5:before {
  content: "\e93e";
  margin-left: -1em;
  color: rgb(76, 219, 196);
}
.icon-classroom2 .path6:before {
  content: "\e93f";
  margin-left: -1em;
  color: rgb(206, 213, 224);
}
.icon-classroom2 .path7:before {
  content: "\e940";
  margin-left: -1em;
  color: rgb(206, 213, 224);
}
.icon-classroom2 .path8:before {
  content: "\e941";
  margin-left: -1em;
  color: rgb(255, 112, 88);
}
.icon-classroom2 .path9:before {
  content: "\e942";
  margin-left: -1em;
  color: rgb(255, 208, 91);
}
.icon-classroom2 .path10:before {
  content: "\e943";
  margin-left: -1em;
  color: rgb(206, 213, 224);
}
.icon-classroom2 .path11:before {
  content: "\e944";
  margin-left: -1em;
  color: rgb(206, 213, 224);
}
.icon-classroom2 .path12:before {
  content: "\e945";
  margin-left: -1em;
  color: rgb(255, 112, 88);
}
.icon-dashboard .path1:before {
  content: "\e946";
  color: rgb(13, 146, 246);
}
.icon-dashboard .path2:before {
  content: "\e947";
  margin-left: -1em;
  color: rgb(0, 0, 0);
}
.icon-dashboard .path3:before {
  content: "\e948";
  margin-left: -1em;
  color: rgb(183, 183, 183);
}
.icon-dashboard .path4:before {
  content: "\e949";
  margin-left: -1em;
  color: rgb(245, 245, 245);
}
.icon-dashboard .path5:before {
  content: "\e94a";
  margin-left: -1em;
  color: rgb(230, 230, 230);
}
.icon-dashboard .path6:before {
  content: "\e94b";
  margin-left: -1em;
  color: rgb(204, 97, 82);
}
.icon-dashboard .path7:before {
  content: "\e94c";
  margin-left: -1em;
  color: rgb(116, 179, 64);
}
.icon-dashboard .path8:before {
  content: "\e94d";
  margin-left: -1em;
  color: rgb(231, 130, 68);
}
.icon-dashboard .path9:before {
  content: "\e94e";
  margin-left: -1em;
  color: rgb(255, 212, 100);
}
.icon-dashboard .path10:before {
  content: "\e94f";
  margin-left: -1em;
  color: rgb(225, 107, 90);
}
.icon-dashboard .path11:before {
  content: "\e950";
  margin-left: -1em;
  color: rgb(225, 107, 90);
}
.icon-Forums .path1:before {
  content: "\e951";
  color: rgb(13, 146, 246);
}
.icon-Forums .path2:before {
  content: "\e952";
  margin-left: -1em;
  color: rgb(102, 102, 102);
}
.icon-Forums .path3:before {
  content: "\e953";
  margin-left: -1em;
  color: rgb(240, 185, 125);
}
.icon-Forums .path4:before {
  content: "\e954";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.icon-Forums .path5:before {
  content: "\e955";
  margin-left: -1em;
  color: rgb(254, 209, 152);
}
.icon-Forums .path6:before {
  content: "\e956";
  margin-left: -1em;
  color: rgb(255, 91, 97);
}
.icon-Forums .path7:before {
  content: "\e957";
  margin-left: -1em;
  color: rgb(102, 102, 102);
}
.icon-Forums .path8:before {
  content: "\e958";
  margin-left: -1em;
  color: rgb(128, 125, 125);
}
.icon-Forums .path9:before {
  content: "\e959";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.icon-Forums .path10:before {
  content: "\e95a";
  margin-left: -1em;
  color: rgb(255, 91, 97);
}
.icon-Forums .path11:before {
  content: "\e95b";
  margin-left: -1em;
  color: rgb(128, 125, 125);
}
.icon-Forums .path12:before {
  content: "\e95c";
  margin-left: -1em;
  color: rgb(102, 102, 102);
}
.icon-Forums .path13:before {
  content: "\e95d";
  margin-left: -1em;
  color: rgb(102, 102, 102);
}
.icon-Forums .path14:before {
  content: "\e95e";
  margin-left: -1em;
  color: rgb(240, 185, 125);
}
.icon-Forums .path15:before {
  content: "\e95f";
  margin-left: -1em;
  color: rgb(254, 209, 152);
}
.icon-Forums .path16:before {
  content: "\e960";
  margin-left: -1em;
  color: rgb(255, 91, 97);
}
.icon-Forums .path17:before {
  content: "\e961";
  margin-left: -1em;
  color: rgb(128, 125, 125);
}
.icon-Forums .path18:before {
  content: "\e962";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.icon-Forums .path19:before {
  content: "\e963";
  margin-left: -1em;
  color: rgb(255, 91, 97);
}
.icon-Forums .path20:before {
  content: "\e964";
  margin-left: -1em;
  color: rgb(128, 125, 125);
}
.icon-Forums .path21:before {
  content: "\e965";
  margin-left: -1em;
  color: rgb(102, 102, 102);
}
.icon-Forums .path22:before {
  content: "\e966";
  margin-left: -1em;
  color: rgb(102, 102, 102);
}
.icon-Forums .path23:before {
  content: "\e967";
  margin-left: -1em;
  color: rgb(240, 185, 125);
}
.icon-Forums .path24:before {
  content: "\e968";
  margin-left: -1em;
  color: rgb(254, 209, 152);
}
.icon-Forums .path25:before {
  content: "\e969";
  margin-left: -1em;
  color: rgb(73, 85, 87);
}
.icon-Forums .path26:before {
  content: "\e96a";
  margin-left: -1em;
  color: rgb(128, 125, 125);
}
.icon-Forums .path27:before {
  content: "\e96b";
  margin-left: -1em;
  color: rgb(32, 208, 194);
}
.icon-Forums .path28:before {
  content: "\e96c";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.icon-Forums .path29:before {
  content: "\e96d";
  margin-left: -1em;
  color: rgb(255, 91, 97);
}
.icon-Forums .path30:before {
  content: "\e96e";
  margin-left: -1em;
  color: rgb(128, 125, 125);
}
.icon-gamify-1 .path1:before {
  content: "\e96f";
  color: rgb(13, 146, 246);
}
.icon-gamify-1 .path2:before {
  content: "\e970";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.icon-gamify-1 .path3:before {
  content: "\e971";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.icon-gamify-1 .path4:before {
  content: "\e972";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.icon-gamify-1 .path5:before {
  content: "\e973";
  margin-left: -1em;
  color: rgb(25, 54, 81);
}
.icon-gamify-1 .path6:before {
  content: "\e974";
  margin-left: -1em;
  color: rgb(25, 54, 81);
}
.icon-gamify-1 .path7:before {
  content: "\e975";
  margin-left: -1em;
  color: rgb(25, 54, 81);
}
.icon-gamify-1 .path8:before {
  content: "\e976";
  margin-left: -1em;
  color: rgb(25, 54, 81);
}
.icon-gamify-1 .path9:before {
  content: "\e977";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.icon-gamify-1 .path10:before {
  content: "\e978";
  margin-left: -1em;
  color: rgb(25, 54, 81);
}
.icon-gamify-1 .path11:before {
  content: "\e979";
  margin-left: -1em;
  color: rgb(253, 191, 94);
}
.icon-gamify .path1:before {
  content: "\e97a";
  color: rgb(13, 146, 246);
}
.icon-gamify .path2:before {
  content: "\e97b";
  margin-left: -1em;
  color: rgb(50, 77, 91);
}
.icon-gamify .path3:before {
  content: "\e97c";
  margin-left: -1em;
  color: rgb(29, 50, 61);
}
.icon-gamify .path4:before {
  content: "\e97d";
  margin-left: -1em;
  color: rgb(89, 117, 131);
}
.icon-gamify .path5:before {
  content: "\e97e";
  margin-left: -1em;
  color: rgb(184, 196, 203);
}
.icon-gamify .path6:before {
  content: "\e97f";
  margin-left: -1em;
  color: rgb(79, 107, 121);
}
.icon-gamify .path7:before {
  content: "\e980";
  margin-left: -1em;
  color: rgb(45, 69, 82);
}
.icon-gamify .path8:before {
  content: "\e981";
  margin-left: -1em;
  color: rgb(79, 107, 121);
}
.icon-gamify .path9:before {
  content: "\e982";
  margin-left: -1em;
  color: rgb(45, 69, 82);
}
.icon-gamify .path10:before {
  content: "\e983";
  margin-left: -1em;
  color: rgb(79, 107, 121);
}
.icon-gamify .path11:before {
  content: "\e984";
  margin-left: -1em;
  color: rgb(63, 89, 102);
}
.icon-Grades .path1:before {
  content: "\e985";
  color: rgb(13, 146, 246);
}
.icon-Grades .path2:before {
  content: "\e986";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.icon-Grades .path3:before {
  content: "\e987";
  margin-left: -1em;
  color: rgb(251, 180, 41);
}
.icon-Grades .path4:before {
  content: "\e988";
  margin-left: -1em;
  color: rgb(200, 202, 204);
}
.icon-Grades .path5:before {
  content: "\e989";
  margin-left: -1em;
  color: rgb(124, 124, 124);
}
.icon-Grades .path6:before {
  content: "\e98a";
  margin-left: -1em;
  color: rgb(255, 186, 27);
}
.icon-Grades .path7:before {
  content: "\e98b";
  margin-left: -1em;
  color: rgb(21, 189, 177);
}
.icon-Grades .path8:before {
  content: "\e98c";
  margin-left: -1em;
  color: rgb(255, 91, 97);
}
.icon-Grades .path9:before {
  content: "\e98d";
  margin-left: -1em;
  color: rgb(236, 75, 83);
}
.icon-Grades .path10:before {
  content: "\e98e";
  margin-left: -1em;
  color: rgb(255, 91, 97);
}
.icon-Grades .path11:before {
  content: "\e98f";
  margin-left: -1em;
  color: rgb(236, 75, 83);
}
.icon-Grades .path12:before {
  content: "\e990";
  margin-left: -1em;
  color: rgb(102, 102, 102);
}
.icon-Grades .path13:before {
  content: "\e991";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.icon-Grades .path14:before {
  content: "\e992";
  margin-left: -1em;
  color: rgb(21, 189, 177);
}
.icon-Grades .path15:before {
  content: "\e993";
  margin-left: -1em;
  color: rgb(57, 108, 146);
}
.icon-Grades .path16:before {
  content: "\e994";
  margin-left: -1em;
  color: rgb(255, 91, 97);
}
.icon-Grades .path17:before {
  content: "\e995";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.icon-Grades .path18:before {
  content: "\e996";
  margin-left: -1em;
  color: rgb(251, 180, 41);
}
.icon-Grades .path19:before {
  content: "\e997";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.icon-plagarism .path1:before {
  content: "\e998";
  color: rgb(13, 146, 246);
}
.icon-plagarism .path2:before {
  content: "\e999";
  margin-left: -1em;
  color: rgb(57, 108, 146);
}
.icon-plagarism .path3:before {
  content: "\e99a";
  margin-left: -1em;
  color: rgb(255, 214, 48);
}
.icon-plagarism .path4:before {
  content: "\e9a5";
  margin-left: -1em;
  color: rgb(153, 153, 153);
}
.icon-plagarism .path5:before {
  content: "\e9a6";
  margin-left: -1em;
  color: rgb(232, 79, 79);
}
.icon-plagarism .path6:before {
  content: "\e9a7";
  margin-left: -1em;
  color: rgb(255, 214, 48);
}
.icon-plagarism .path7:before {
  content: "\e9a8";
  margin-left: -1em;
  color: rgb(153, 153, 153);
}
.icon-plagarism .path8:before {
  content: "\e9a9";
  margin-left: -1em;
  color: rgb(232, 79, 79);
}
.icon-plagarism .path9:before {
  content: "\e9aa";
  margin-left: -1em;
  color: rgb(247, 247, 248);
}
.icon-plagarism .path10:before {
  content: "\e9ab";
  margin-left: -1em;
  color: rgb(232, 79, 79);
}
.icon-Portfolio .path1:before {
  content: "\e9ac";
  color: rgb(13, 146, 246);
}
.icon-Portfolio .path2:before {
  content: "\e9ad";
  margin-left: -1em;
  color: rgb(255, 186, 27);
}
.icon-Portfolio .path3:before {
  content: "\e9ae";
  margin-left: -1em;
  color: rgb(255, 91, 97);
}
.icon-Portfolio .path4:before {
  content: "\e9af";
  margin-left: -1em;
  color: rgb(236, 75, 83);
}
.icon-Portfolio .path5:before {
  content: "\e9b0";
  margin-left: -1em;
  color: rgb(236, 240, 241);
}
.icon-Portfolio .path6:before {
  content: "\e9b1";
  margin-left: -1em;
  color: rgb(13, 146, 246);
}
.icon-Portfolio .path7:before {
  content: "\e9b2";
  margin-left: -1em;
  color: rgb(102, 102, 102);
}
.icon-Portfolio .path8:before {
  content: "\e9b3";
  margin-left: -1em;
  color: rgb(236, 75, 83);
}
.icon-Portfolio .path9:before {
  content: "\e9b4";
  margin-left: -1em;
  color: rgb(255, 186, 27);
}
.icon-Portfolio .path10:before {
  content: "\e9b5";
  margin-left: -1em;
  color: rgb(245, 162, 9);
}
.icon-Portfolio .path11:before {
  content: "\e9b6";
  margin-left: -1em;
  color: rgb(0, 67, 118);
}
.icon-Portfolio .path12:before {
  content: "\e9b7";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.icon-Portfolio .path13:before {
  content: "\e9b8";
  margin-left: -1em;
  color: rgb(236, 240, 241);
}
.icon-Portfolio .path14:before {
  content: "\e9b9";
  margin-left: -1em;
  color: rgb(0, 67, 118);
}
.icon-Portfolio .path15:before {
  content: "\e9ba";
  margin-left: -1em;
  color: rgb(13, 146, 246);
}
.icon-Portfolio .path16:before {
  content: "\e9bb";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.icon-Portfolio .path17:before {
  content: "\e9bc";
  margin-left: -1em;
  color: rgb(236, 240, 241);
}
.icon-Portfolio .path18:before {
  content: "\e9bd";
  margin-left: -1em;
  color: rgb(92, 180, 247);
}
.icon-Portfolio .path19:before {
  content: "\e9be";
  margin-left: -1em;
  color: rgb(102, 102, 102);
}
.icon-Portfolio .path20:before {
  content: "\e9bf";
  margin-left: -1em;
  color: rgb(13, 146, 246);
}
.icon-Portfolio .path21:before {
  content: "\e9c0";
  margin-left: -1em;
  color: rgb(92, 181, 247);
}
.icon-Portfolio .path22:before {
  content: "\e9c1";
  margin-left: -1em;
  color: rgb(102, 102, 102);
}
.icon-Portfolio .path23:before {
  content: "\e9c2";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.icon-Portfolio .path24:before {
  content: "\e9c3";
  margin-left: -1em;
  color: rgb(255, 186, 27);
}
.icon-Portfolio .path25:before {
  content: "\e9c4";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.icon-Portfolio .path26:before {
  content: "\e9c5";
  margin-left: -1em;
  color: rgb(255, 91, 97);
}
.icon-Portfolio .path27:before {
  content: "\e9c6";
  margin-left: -1em;
  color: rgb(236, 75, 83);
}
.icon-Portfolio .path28:before {
  content: "\e9c7";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.icon-Portfolio .path29:before {
  content: "\e9c8";
  margin-left: -1em;
  color: rgb(102, 102, 102);
}
.icon-Portfolio .path30:before {
  content: "\e9c9";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.icon-Portfolio .path31:before {
  content: "\e9ca";
  margin-left: -1em;
  color: rgb(102, 102, 102);
}
.icon-Portfolio .path32:before {
  content: "\e9cb";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.icon-quiz .path1:before {
  content: "\e9cc";
  color: rgb(13, 146, 246);
}
.icon-quiz .path2:before {
  content: "\e9cd";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.icon-quiz .path3:before {
  content: "\e9ce";
  margin-left: -1em;
  color: rgb(112, 116, 135);
}
.icon-quiz .path4:before {
  content: "\e9cf";
  margin-left: -1em;
  color: rgb(127, 132, 153);
}
.icon-quiz .path5:before {
  content: "\e9d0";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.icon-quiz .path6:before {
  content: "\e9d1";
  margin-left: -1em;
  color: rgb(213, 220, 237);
}
.icon-quiz .path7:before {
  content: "\e9d2";
  margin-left: -1em;
  color: rgb(112, 116, 135);
}
.icon-quiz .path8:before {
  content: "\e9d3";
  margin-left: -1em;
  color: rgb(127, 132, 153);
}
.icon-quiz .path9:before {
  content: "\e9d4";
  margin-left: -1em;
  color: rgb(175, 185, 210);
}
.icon-quiz .path10:before {
  content: "\e9d5";
  margin-left: -1em;
  color: rgb(149, 156, 181);
}
.icon-quiz .path11:before {
  content: "\e9d6";
  margin-left: -1em;
  color: rgb(255, 80, 80);
}
.icon-quiz .path12:before {
  content: "\e9d7";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.icon-quiz .path13:before {
  content: "\e9d8";
  margin-left: -1em;
  color: rgb(125, 245, 165);
}
.icon-quiz .path14:before {
  content: "\e9d9";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.icon-vclassroom .path1:before {
  content: "\e9da";
  color: rgb(13, 146, 246);
}
.icon-vclassroom .path2:before {
  content: "\e9db";
  margin-left: -1em;
  color: rgb(102, 102, 102);
}
.icon-vclassroom .path3:before {
  content: "\e9dc";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.icon-vclassroom .path4:before {
  content: "\e9dd";
  margin-left: -1em;
  color: rgb(102, 102, 102);
}
.icon-vclassroom .path5:before {
  content: "\e9de";
  margin-left: -1em;
  color: rgb(240, 185, 125);
}
.icon-vclassroom .path6:before {
  content: "\e9df";
  margin-left: -1em;
  color: rgb(236, 240, 241);
}
.icon-vclassroom .path7:before {
  content: "\e9e0";
  margin-left: -1em;
  color: rgb(255, 91, 97);
}
.icon-vclassroom .path8:before {
  content: "\e9e1";
  margin-left: -1em;
  color: rgb(248, 232, 28);
}
.icon-vclassroom .path9:before {
  content: "\e9e2";
  margin-left: -1em;
  color: rgb(246, 166, 35);
}
.icon-vclassroom .path10:before {
  content: "\e9e3";
  margin-left: -1em;
  color: rgb(254, 209, 152);
}
.icon-vclassroom .path11:before {
  content: "\e9e4";
  margin-left: -1em;
  color: rgb(102, 102, 102);
}
.icon-vclassroom .path12:before {
  content: "\e9e5";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.icon-vclassroom .path13:before {
  content: "\e9e6";
  margin-left: -1em;
  color: rgb(255, 117, 124);
}
.icon-vclassroom .path14:before {
  content: "\e9e7";
  margin-left: -1em;
  color: rgb(128, 125, 125);
}
.icon-vclassroom .path15:before {
  content: "\e9e8";
  margin-left: -1em;
  color: rgb(255, 117, 124);
}
.icon-vclassroom .path16:before {
  content: "\e9e9";
  margin-left: -1em;
  color: rgb(128, 125, 125);
}
.icon-vclassroom .path17:before {
  content: "\e9ea";
  margin-left: -1em;
  color: rgb(255, 117, 124);
}
.icon-vclassroom .path18:before {
  content: "\e9eb";
  margin-left: -1em;
  color: rgb(255, 117, 124);
}
.icon-vclassroom .path19:before {
  content: "\e9ec";
  margin-left: -1em;
  color: rgb(102, 102, 102);
}
.icon-vclassroom .path20:before {
  content: "\e9ed";
  margin-left: -1em;
  color: rgb(128, 125, 125);
}
.icon-vclassroom .path21:before {
  content: "\e9ee";
  margin-left: -1em;
  color: rgb(102, 102, 102);
}
.icon-vclassroom .path22:before {
  content: "\e9ef";
  margin-left: -1em;
  color: rgb(254, 209, 152);
}
.icon-vclassroom .path23:before {
  content: "\e9f0";
  margin-left: -1em;
  color: rgb(204, 204, 204);
}
.icon-vclassroom .path24:before {
  content: "\e9f1";
  margin-left: -1em;
  color: rgb(14, 94, 154);
}
.icon-vclassroom .path25:before {
  content: "\e9f2";
  margin-left: -1em;
  color: rgb(255, 117, 124);
}
.icon-vclassroom .path26:before {
  content: "\e9f3";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.icon-vclassroom .path27:before {
  content: "\e9f4";
  margin-left: -1em;
  color: rgb(102, 102, 102);
}
.icon-vclassroom .path28:before {
  content: "\e9f5";
  margin-left: -1em;
  color: rgb(128, 125, 125);
}
.icon-vclassroom .path29:before {
  content: "\e9f6";
  margin-left: -1em;
  color: rgb(32, 208, 194);
}
.icon-vclassroom .path30:before {
  content: "\e9f7";
  margin-left: -1em;
  color: rgb(128, 125, 125);
}
.icon-vclassroom .path31:before {
  content: "\e9f8";
  margin-left: -1em;
  color: rgb(32, 208, 194);
}
.icon-vclassroom .path32:before {
  content: "\e9f9";
  margin-left: -1em;
  color: rgb(32, 208, 194);
}
.icon-classroom:before {
  content: "\e901";
}
.icon-Chat:before {
  content: "\e902";
}
.icon-copy-1 .path1:before {
  content: "\e903";
  color: rgb(255, 255, 255);
}
.icon-copy-1 .path2:before {
  content: "\e904";
  margin-left: -1em;
  color: rgb(25, 54, 81);
}
.icon-copy-1 .path3:before {
  content: "\e905";
  margin-left: -1em;
  color: rgb(211, 215, 218);
}
.icon-copy-1 .path4:before {
  content: "\e99b";
  margin-left: -1em;
  color: rgb(25, 54, 81);
}
.icon-copy-1 .path5:before {
  content: "\e99c";
  margin-left: -1em;
  color: rgb(25, 54, 81);
}
.icon-copy-1 .path6:before {
  content: "\e99d";
  margin-left: -1em;
  color: rgb(25, 54, 81);
}
.icon-copy-1 .path7:before {
  content: "\e99e";
  margin-left: -1em;
  color: rgb(25, 54, 81);
}
.icon-copy-1 .path8:before {
  content: "\e99f";
  margin-left: -1em;
  color: rgb(25, 54, 81);
}
.icon-copy-1 .path9:before {
  content: "\e9a0";
  margin-left: -1em;
  color: rgb(25, 54, 81);
}
.icon-copy-1 .path10:before {
  content: "\e9a1";
  margin-left: -1em;
  color: rgb(25, 54, 81);
}
.icon-dashboard-1:before {
  content: "\e9a2";
}
.icon-newspaper-1:before {
  content: "\e9a3";
}
.icon-forums-1:before {
  content: "\e9a4";
}




/*demo file*/
.glyph {
  font-size: 16px;
  width: 15em;
  padding-bottom: 1em;
  margin-right: 4em;
  margin-bottom: 1em;
  float: left;
  overflow: hidden;
}
.liga {
  width: 80%;
  width: calc(100% - 2.5em);
}
.talign-right {
  text-align: right;
}
.talign-center {
  text-align: center;
}
.bgc1 {
  background: #f1f1f1;
}
.fgc1 {
  color: #999;
}
.fgc0 {
  color: #000;
}

.mvm {
  margin-top: .75em;
  margin-bottom: .75em;
}
.mtn {
  margin-top: 0;
}
.mtl, .mal {
  margin-top: 1.5em;
}
.mbl, .mal {
  margin-bottom: 1.5em;
}
.mal, .mhl {
  margin-left: 1.5em;
  margin-right: 1.5em;
}
.mhmm {
  margin-left: 1em;
  margin-right: 1em;
}
.mls {
  margin-left: .25em;
}
.ptl {
  padding-top: 1.5em;
}
.pbs, .pvs {
  padding-bottom: .25em;
}
.pvs, .pts {
  padding-top: .25em;
}
.unit {
  float: left;
}
.unitRight {
  float: right;
}
.size1of2 {
  width: 50%;
}
.size1of1 {
  width: 100%;
}
.clearfix:before, .clearfix:after {
  content: " ";
  display: table;
}
.clearfix:after {
  clear: both;
}
.hidden-true {
  display: none;
}
.textbox0 {
  width: 3em;
  background: #f1f1f1;
  padding: .25em .5em;
  line-height: 1.5;
  height: 1.5em;
}
#testDrive {
  display: block;
  padding-top: 24px;
  line-height: 1.5;
}
.fs0 {
  font-size: 16px;
}
.fs1 {
  font-size: 32px;
}

